@page "/fetchdata"

@using subtrack.MAUI.Services.Abstractions
@using subtrack.DAL.Entities
@inject ISubscriptionsService subscriptionService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (subscriptions == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Subscription Provider</th>
				<th>Description</th>
				<th>Auto Pay Feature</th>
				<th>Cost</th>
				<th>Last Payment</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var sub in subscriptions)
			{
				<tr>
					<td>@sub.Name</td>
					<td>@sub.Description</td>
					<td>@sub.IsAutoPaid</td>
					<td>@sub.Cost</td>
					<td>@sub.LastPayment</td>
				</tr>
			}
		</tbody>
	</table>
}
@code {
	private IEnumerable<Subscription> subscriptions;
	protected override async Task OnInitializedAsync()
	{
		subscriptions = await subscriptionService.GetSubscriptions();
	}
}
