@page "/monthly"
@using System.Globalization;
@using subtrack.MAUI.Services.Abstractions;

@inject subtrack.DAL.SubtrackDbContext Db

<div class="accordion accordion-flush" id="accordionFlush">

    @foreach (var month in _months.Select((Value, Index) => new { Value, Index }))
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="@($"flush-heading{month.Index}")">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse{month.Index}")" aria-expanded="false" aria-controls="@($"flush-collapse{month.Index}")">
                    <div class="d-flex justify-content-between">
                        <span>@month.Value | @($"{_subscriptionsCost:C}")</span>
                    </div>
                </button>
            </h2>
            <div id="@($"flush-collapse{month.Index}")" class="accordion-collapse collapse" aria-labelledby="@($"flush-heading{month.Index}")" data-bs-parent="#accordionFlush">
                <div class="container mt-3">
                    @foreach (var sub in Db.Subscriptions)
                    {
                        <p>@sub.Name $@sub.Cost</p>
                    }
                </div>
            </div>
        </div>
    }
</div>


@code{
    decimal _subscriptionsCost = 0;
    IEnumerable<Subscription> _subscriptions = new List<Subscription>();
    string[] _months = DateTimeFormatInfo.CurrentInfo.MonthNames;

    protected override void OnInitialized()
    {
        _subscriptions = Db.Subscriptions.ToList();
        _subscriptionsCost = SubscriptionsCalculator.GetMonthlyCost(_subscriptions);
    }
}