@page "/details/{Id:int}"
@using System.Globalization;
@using System.Text;
@using subtrack.MAUI.Utilities;
@using subtrack.MAUI.Shared.Components
@inject ISubscriptionService subscriptionService
@inject NavigationManager navigationManager
@inject ISubscriptionsCalculator subscriptionsCalculator
@inject IDateProvider dateTimeProvider

@if (_subscription is null)
{
    <div>Subscription details not found</div>
}
else
{
    <div class="container">
        <div class="d-flex justify-content-between py-2">
            <div>
                <BackButton Url="@ReturnUrl"></BackButton>
            </div>
            <div>
                <h2 class="ps-3 text-break">@_subscription.Name</h2>
            </div>
            <div>
                <EditButton Url="@EditUrl"></EditButton>
            </div>
        </div>
        <div class="row py-2">
            <hr />
            <label class="opacity-75 detail-label-fs">Billing</label>
            <div class="col-12 d-flex justify-content-center">
                <h5 class="d-inline-block">@($"{_subscription.Cost:C}")</h5>&nbsp;&nbsp;
                @if (_subscription.IsAutoPaid)
                {
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                }
            </div>
            <label class="col-12 d-flex justify-content-center">@GetOccurrenceText()</label>
            <hr class="mt-1" />
        </div>
        <div class="row py-2 @CssUtil.GetDueClass(_nextPaymentDate.TimeRemainingFromToday(dateTimeProvider).Days)">
            <div class="col-12 d-flex flex-column justify-content-center">
                <label class="detail-label-fs opacity-75">Next payment</label>
                <div class="text-center">@_nextPaymentDate.ToString("MMMM dd, yyyy", Constants.UsCulture)</div>
                <div class="text-center">@_dueTimeText</div>
            </div>
        </div>
        <div class="row py-2">

            <div class="col-12 d-flex justify-content-center">
                <button aria-label="Mark as paid" type="button" class="btn btn-primary" onclick="@(() => MarkSubscriptionAsPaid())">
                    <i class="fa-solid fa-check"></i>&nbsp;
                    Mark paid
                </button>
            </div>
        </div>
        <div class="row py-2">
            <hr />
            <label class="opacity-75 detail-label-fs">Latest payment</label>
            <div class="col-12 d-flex justify-content-center">
                @_subscription.LastPayment.ToString("MMMM dd, yyyy", Constants.UsCulture)
            </div>
        </div>
        <div class="row py-2">
            <hr/>
            <label class="opacity-75 detail-label-fs">Annually</label>
            <div class="col-12 d-flex justify-content-center">
                @($"~{Math.Round(_subscriptionsCost, 2):C}")
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(_subscription.Description))
        {
            <div class="row border-bottom py-2 d-flex justify-content-center text-break" style="white-space: pre-line">
                @_subscription.Description
            </div>
        }
        <div class="row py-2">
            <hr />
            <div class="col-12 d-flex justify-content-center">
                <button onclick="@(() => OnDelete())" aria-label="Delete subscription" type="button" class="btn btn-danger">
                    <i class="fa-sharp fa-solid fa-trash"></i>&nbsp;
                    @(_deleteButtonClicked ? "Confirm" : "Delete")
                </button>
            </div>
        </div>
    </div>
}

@code {
    private decimal _subscriptionsCost = 0;
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    public string? EditUrl { get; set; }

    private string _dueTimeText = "";

    Subscription? _subscription;

    bool _deleteButtonClicked;

    DateTime _nextPaymentDate;

    protected override async Task OnInitializedAsync()
    {
        _subscription = await subscriptionService.GetByIdIfExists(Id);
        _subscriptionsCost = subscriptionsCalculator.GetYearlyAverageCost(_subscription);
        _deleteButtonClicked = false;
        if (_subscription is not null)
        {
            EditUrl = $"/EditSubscription/{Id}?ReturnUrl={navigationManager.Uri}";
            _nextPaymentDate = subscriptionsCalculator.GetNextPaymentDate(_subscription);
            _dueTimeText = GetDueTimeText(_nextPaymentDate);
        }
    }

    private string GetDueTimeText(DateTime duedate)
    {
        var dueTime = _nextPaymentDate.TimeRemainingFromToday(dateTimeProvider);
        if (dueTime.Days == 0)
        {
            return "today";
        }

        var dueTimeText = dueTime.Humanize(3, minUnit: Humanizer.Localisation.TimeUnit.Day, maxUnit: Humanizer.Localisation.TimeUnit.Year);

        return duedate.IsPastDate(dateTimeProvider) ? $"{dueTimeText} ago" : dueTimeText;
    }

    private async Task MarkSubscriptionAsPaid()
    {
        _subscription = await subscriptionService.MarkNextPaymentAsPaidAsync(_subscription.Id);

        _nextPaymentDate = subscriptionsCalculator.GetNextPaymentDate(_subscription);
        _dueTimeText = GetDueTimeText(_nextPaymentDate);

    }

    private async Task OnDelete()
    {
        if (!_deleteButtonClicked)
        {
            _deleteButtonClicked = true;
            return;
        }
        await subscriptionService.Delete(Id);
        navigationManager.NavigateTo("/", replace: true);
    }
    private string GetOccurrenceText()
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("every ");

        if(_subscription.BillingInterval==1)
        {
            sb.Append(_subscription.BillingOccurrence.Humanize().ToLower());
            return sb.ToString();
        }

        sb.Append(_subscription.BillingInterval.ToWords(Constants.UsCulture));
        sb.Append(" ");
        sb.Append(_subscription.BillingOccurrence.Humanize().ToLower().Pluralize());
        return sb.ToString();
    }
}
